#homepage-background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: tan;
}

#goals-progress-bar {
  /* width: fit-content; */
  height: 25%;
  margin: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  row-gap: 10px;
}

.progress-bar {
  width: 95%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#all-goal-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 50px;
  margin: 20px;
  overflow-y: auto;
  justify-content: flex-start;
  height: 672px;
  margin-right: 0px;
  /* Stretch works when goal-card height is auto */
  /* align-items: stretch; */
}

.goal-card {
  width: 350px;
  height: 550px;
  cursor: pointer;
}

/* This webkit stuff is for a custom scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

img.ng-star-inserted {
  width: 100%;
  height: 270px;
  /* This resizes the image to fit the dimensions */
  object-fit: cover;
}

#button-container {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  justify-content: right;
  width: 90%;
}

#logout-button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: fit-content;
  height: 50px;
  margin-right: 5px;
}

/* This is all trying to get the heights the same, but it doesn't want to work unfortunately. */
p-card.p-element {
  height: 550px;
}

div.p-card-body {
  height: 275px;
}

div.p-card-content {
  height: 103px;
}

p-card.p-component {
  height: 550px;
}

.p-card {
  height: 550px;
}

p-card {
  height: 550px;
}

.p-card-extender {
  /* [class.p-card-extender]="true" */
  height: 550px;
}