<div id="view-goal-background">
    <div id="container">
        <div id="donut-chart"><p-chart type="doughnut" [data]="goalData"></p-chart></div>

        <div id="information-container">
            <div><strong style="font-size: xxx-large; color: green;">{{ (goal.currentAmount/goal.targetAmount)*100 >= 100 ? "100.00" : round((goal.currentAmount/goal.targetAmount)*100) }}%</strong><span style="font-size: xx-large;"> Complete</span></div>

            <div class="input-field">
                <div><strong style="font-size: larger;">Goal Title</strong></div>
                <div>{{ this.goal.name }}</div>
            </div>
            <div class="input-field">
                <div><strong style="font-size: larger;">Goal Description</strong></div>
                <div>{{ this.goal.description }}</div>
            </div>
            <div class="input-field">
                <div><strong style="font-size: larger;">Image</strong></div>
                <img alt="Image could not be displayed." src="{{ this.goal.imageSrc }}" width="200" height="200">
            </div>
            <div class="input-field">
                <div><strong style="font-size: larger;">Target Date</strong></div>
                <div>{{ this.goal.targetDate }}</div>
            </div>
            <div class="input-field">
                <div><strong style="font-size: larger;">Target Amount</strong></div>
                <div>${{ round(this.goal.targetAmount) }}</div>
            </div>
            <div class="input-field">
                <div><strong style="font-size: larger;">Current Amount Saved</strong></div>
                <div>${{ round(this.goal.currentAmount) }}</div>
            </div>


            <div id="button-container">
                <p-button icon="pi pi-pencil" (onClick)="openUpdateModal()" label="Update Goal"></p-button>
                <p-button icon="pi pi-times" (onClick)="openDeleteModal()" label="Delete Goal"></p-button>
                <p-button (onClick)="returnToHomepage()" label="Return Home"></p-button>
            </div>
        </div>
    </div>
    <div id="logout-button">
        <p-button label="Logout" icon="pi pi-sign-out" (onClick)="logout()"></p-button>
    </div>


    <p-dialog header="Update Goal" [(visible)]="isEditingGoal" [modal]="true" [draggable]="false" [resizable]="false" [style]="{width: '50vw', height: '44vw'}">
        <div id="update-container">
            <div class="input-field">
                <div><strong>Goal Title</strong></div>
                <div><input pInputText type="text" [(ngModel)]="this.goal.name"></div>
            </div>
            <div class="input-field">
                <div><strong>Goal Description</strong></div>
                <div><input pInputText type="text" id="goal-description" [(ngModel)]="this.goal.description"></div>
            </div>
            <div class="input-field">
                <div><strong>Image URL</strong></div>
                <div><input pInputText type="text" id="goal-imageSrc" [(ngModel)]="this.goal.imageSrc"></div>
            </div>
            <div class="input-field">
                <div><strong>Target Date</strong></div>
                <div><p-calendar id="goal-targetDate" [(ngModel)]="this.goal.targetDate" dateFormat="yy-mm-dd"></p-calendar></div>
            </div>
            <div class="input-field">
                <div><strong>Target Amount</strong></div>
                <div><p-inputNumber id="goal-targetAmount" [(ngModel)]="this.goal.targetAmount" mode="currency" currency="USD" locale="en-US"></p-inputNumber></div>
            </div>
            <div class="input-field">
                <div><strong>Current Amount Saved</strong></div>
                <div><p-inputNumber id="goal-currentAmount" [(ngModel)]="this.goal.currentAmount" mode="currency" currency="USD" locale="en-US"></p-inputNumber></div>
            </div>
        </div>
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-pencil" (onClick)="updateGoal(this.goal)" label="Update"></p-button>
            <p-button (onClick)="cancel()" label="Cancel"></p-button>
        </ng-template>
    </p-dialog>
    <p-dialog header="Delete Goal" [(visible)]="isDeletingGoal" [modal]="true" [draggable]="false" [resizable]="false">
        Are you sure you want to delete this goal? This cannot be undone.

        <ng-template pTemplate="footer">
            <p-button icon="pi pi-times" (onClick)="deleteGoal(this.goal.id)" label="Delete"></p-button>
            <p-button (onClick)="this.isDeletingGoal = false;" label="Cancel"></p-button>
        </ng-template>
    </p-dialog>
</div>
